.section-header {
   &.section-header--text-center {
      text-align: center;
   }
   // .section-header__sub-title
   &__sub-title {
      font-weight: 400;
      text-transform: uppercase;
      color: $secondaryTitleColor;
      letter-spacing: toEm(2);
      &:not(:last-child) {
         margin-bottom: toRem(27);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(20);
         }
      }
   }
   // .section-header__title
   &__title {
      font-family: "Philosopher", sans-serif;
      font-size: toRem(50);
      font-weight: 700;
      color: $titleColor;
      text-transform: capitalize;
      @media (max-width: toEm($tablet)) {
         font-size: toRem(42);
      }
      @media (max-width: toEm(600)) {
         font-size: toRem(36);
      }
      @media (max-width: toEm($mobileSmall)) {
         font-size: toRem(32);
      }
      &:not(:last-child) {
         margin-bottom: toRem(36);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(25);
         }
         @media (max-width: toEm(600)) {
            margin-bottom: toRem(15);
         }
         .why & {
            margin-bottom: toRem(30);
         }
      }
      .hero-swiper & {
         font-size: toRem(80);
         @media (max-width: toEm($tablet)) {
            font-size: toRem(60);
         }
         @media (max-width: toEm($mobile)) {
            font-size: toRem(50);
         }
         @media (max-width: toEm(600)) {
            font-size: toRem(42);
         }
         @media (max-width: toEm($mobileSmall)) {
            font-size: toRem(38);
         }
      }
   }
   // .section-header__text
   &__text {
      line-height: 150%;
      @media (max-width: toEm(600)) {
         font-size: toRem(18);
      }
      @media (max-width: toEm($mobileSmall)) {
         line-height: 120%;
      }
      &:not(:last-child) {
         margin-bottom: toRem(50);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(35);
         }
         @media (max-width: toEm(600)) {
            margin-bottom: toRem(25);
         }
      }
      .why & {
         max-width: toRem(900);
         margin: 0 auto;
      }
      &--narrow {
         max-width: toRem(660);
      }
      p {
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
      }
   }
   // .section-header__link
   &__link {
   }
}

.button {
   min-width: toRem(170);
   padding: toRem(13) toRem(35);
   font-weight: 400;
   background-color: $titleColor;
   color: #ffffff;
   text-align: center;
   border-radius: toRem(25);
   transition: background-color 0.3s;
   @media (any-hover: hover) {
      &:hover {
         background-color: $mainTextColor;
      }
   }
   @media (max-width: toEm($tablet)) {
      min-width: auto;
      padding: toRem(13) toRem(20);
      .hero-swiper &,
      .advantages & {
         min-width: toRem(190);
      }
   }
}
