// Кольори
$mainTextColor: #333333;
$titleColor: #7d806a;
$secondaryTitleColor: #8e6746;
// $lightTextColor: #ffffff;
// $accentColor: #ff7500;
$mainBgColor: #fff8f3;
$secondaryBgColor: #eef0dc;

// Брейкпоінти
$pc: 1199.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;
