// Підключення шрифтів
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Philosopher:700&display=swap");

// Обнулення стилів
@import "reset";

// Змінні
@import "vars";

// Функції
@import "functions";

// =============================================================================================================

// Плавна прокрутка (якщо потрібно)
// :root {
//    scroll-behavior: smooth;
// }

// =============================================================================================================

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
}

[class*="__container"] {
   max-width: toRem(1750);
   margin: 0 auto;
   padding: 0 toRem(15);
}

body {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   color: $mainTextColor;
   font-size: toRem(20);
   &.menu-open {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}

// =============================================================================================================

// Компоненти
@import "common";
@import "header";
@import "footer";

// =============================================================================================================
