// Підключення шрифтів
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Philosopher:700&display=swap");

// Обнулення стилів
@import "reset";

// Змінні
@import "vars";

// Функції
@import "functions";

// =============================================================================================================

// Плавна прокрутка (якщо потрібно)
// :root {
//    scroll-behavior: smooth;
// }

// =============================================================================================================

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
}

[class*="__container"] {
   max-width: toRem(1750);
   margin: 0 auto;
   padding: 0 toRem(15);
}

body {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   color: $mainTextColor;
   font-size: toRem(20);
   &.menu-open {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}

// =============================================================================================================

// Компоненти
@import "common";
@import "header";
@import "footer";

// =============================================================================================================

.page {
   // .page__hero-swiper
   &__hero-swiper {
   }
}

// =============================================================================================================

.hero-swiper {
   height: 100vh;
   // .hero-swiper__wrapper
   &__wrapper {
   }
   // .hero-swiper__slide
   &__slide {
   }
   // .hero-swiper__arrow
   &__arrow {
      position: absolute;
      right: toRem(100);
      z-index: 2;
      width: toRem(48);
      height: toRem(48);
      border-radius: 50%;
      border: toRem(1) solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $titleColor;
         }
      }
      &::before {
         content: "";
         width: toRem(8);
         height: toRem(12);
      }
      &--prev {
         top: 25%;
         background: url("../img/icons/btn-prev.svg") center no-repeat;
      }
      &--next {
         bottom: 16%;
         background: url("../img/icons/btn-next.svg") center no-repeat;
      }
   }
   // .hero-swiper__scrollbar
   &__scrollbar {
   }
   .swiper-scrollbar {
   }
   .swiper-scrollbar.swiper-scrollbar-vertical,
   .swiper-vertical > .swiper-scrollbar {
      width: toRem(2);
      height: 40%;
      top: 35%;
      right: toRem(123);
      background-color: rgba(255, 255, 255, 0.3);
   }
   .swiper-scrollbar-drag {
      height: 50%;
      background-color: #fff;
   }
}

.slide-hero {
   padding-top: toRem(323);
   padding-bottom: toRem(328);
   position: relative;
   // .slide-hero__container
   &__container {
      position: relative;
      z-index: 2;
   }
   // .slide-hero__body
   &__body {
   }
   // .slide-hero__image
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
